:root {
  --title-color: #e53170;
  --bg-color: #0f0e17;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /RESET */

/* GENERAL SETTINGS */
body {
  font-family: "Fredoka", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.m-bt {
  margin-bottom: 1.5rem;
}

img {
  max-width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* /GENERAL SETTINGS */

/* HEADER  */

header {
  text-align: center;
  padding: 2rem;
}

h1 {
  color: var(--title-color);
}

/* /HEADER  */

/* MAIN */

.row {
  margin-bottom: 20px;
  padding-right: 1rem;
}

.card {
  float: left;
  width: calc((100% / 3) - 15px);
  min-width: 280px;
  /* max-width: 350px; */
  margin-bottom: 1rem;
  margin-right: 15px;
  box-shadow: 1px 2px 5px 2.5px #999;
  background-color: var(--bg-color);
}

.float-img {
  float: left;
  height: 80px;
}

.card-content {
  color: #fff;
  text-align: left;
  float: left;
  width: 200px;

  max-height: 80px;
  padding: 10px;
}

.card-content h3 {
  font-size: 1rem;
  font-weight: 500;
}

.card-content .work {
  font-weight: 300;
  font-size: 0.8rem;
}

.card-content .email {
  text-decoration: none;
  color: lightskyblue;
  font-size: 0.8rem;
}
/* /MAIN */

/* grid */
.col {
  float: left;
  width: calc(100% / 3);
  padding: 1rem;
  border: 1px solid blue;
}
