:root {
  --title-color: #e53170;
  --bg-color: #0f0e17;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /RESET */

/* GENERAL SETTINGS */
body {
  font-family: "Fredoka", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.m-bt {
  margin-bottom: 1.5rem;
}

img {
  max-width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* /GENERAL SETTINGS */

/* HEADER  */

header {
  text-align: center;
  padding: 2rem;
}

h1 {
  color: var(--title-color);
}

/* /HEADER  */

/* MAIN */

.cards-container {
}

.row {
  padding: 2rem;
}

.card {
  float: left;

  width: calc(100% / 3);
  /* min-height: 100px; */
  padding-left: 2rem;

  box-shadow: 5px 10px 8px #888888;
}

.float-img {
  float: left;
  height: 80px;
}

.card-content {
  color: #fff;
  text-align: left;
  float: left;
  background-color: var(--bg-color);
  /* min-height: 80px; */
  max-height: 80px;
  padding: 10px;
}

.card-content h3 {
  font-size: 1rem;
  font-weight: 500;
}

.card-content .work {
  font-weight: 300;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}

.card-content .email {
  text-decoration: none;
  color: lightskyblue;
  font-size: 0.8rem;
}
/* /MAIN */
